
backend/node_modules
magic-three-ammo/*.min.js
magic-three-ammo/public/magic/networking/rtc-multi-connection/*.prod.js
magic-three-ammo/public/magic/*/*.prod.js
magic-three-ammo/public/magic/*.prod.js
magic-three-ammo/public/jsm/*/*.prod.js
