@font-face {
  font-family: closeness;
  src: url('./assets/fonts/Closeness.ttf'),
       url('./assets/fonts/Closeness.woff2') format('woff2');
  font-display: swap;
}

body {
  margin: 0;
  background-color: #000;
  color: orangered;
  font-family: closeness, Monospace;
  font-size: 13px;
  line-height: 24px;
  overscroll-behavior: none;
  overflow: hidden;
}

div, p {
  background: black;
  /*linear-gradient(90deg, rgba(23, 28, 2, 0.1) 14%, rgba(31, 10, 3, 0.2) 46%, rgb(90, 71, 4) 100%);
  */
}

a {
  color: #ff0;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

button {
  cursor: pointer;
  text-transform: uppercase;
}

span {
  width: 200px;
}

.flex-menu {
  width: 100%;
}

#info {
  position: absolute;
  display:flex;
  top: 0px;
  width: 100%;
  padding: 3px;
  box-sizing: border-box;
  text-align: center;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
  z-index: 1;
  /* TODO Solve this in HTML */

}

a,
button,
input,
select {
  pointer-events: auto;
}

.lil-gui {
  z-index: 2 !important;
  /* TODO Solve this in HTML */
}

@media all and (max-width: 640px) {
  .lil-gui.root {
    right: auto;
    top: auto;
    max-height: 50%;
    max-width: 80%;
    bottom: 0;
    left: 0;
  }
}

#overlay {
  position: absolute;
  font-size: 16px;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.7);
}

#overlay button {
  background: transparent;
  border: 0;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 4px;
  color: #ffffff;
  padding: 12px 18px;
  text-transform: uppercase;
  cursor: pointer;
}

#notSupported {
  width: 50%;
  margin: auto;
  background-color: #f00;
  margin-top: 20px;
  padding: 10px;
}

#blocker {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
}

#instructions {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
  font-size: 14px;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.1);
}

#matrix-net {
  position: absolute;
  display: none;
  right: 0;
  height: 100%;
  width: 40vh;
  font-family: stormfaze;
  background-color: crimson;
}