@font-face {
  font-family: closeness;
  src: url('./assets/fonts/Closeness.ttf'),
    url('./assets/fonts/Closeness.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: stormfaze;
  src: url('./assets/fonts/stormfaze.ttf');
  font-display: swap;
}

@font-face {
  font-family: WARGAMES;
  src: url('./assets/fonts/wargames.ttf');
  font-display: swap;
}

@font-face {
  font-family: Accuratist;
  src: url('./assets/fonts/Accuratist.ttf');
  font-display: swap;
}

body {
  margin: 0;
  background-color: var(--bg);
  color: var(--text2);
  font-family: var(--mainFont), Monospace;
  font-size: var(--fontMid);
  overscroll-behavior: none;
  overflow: hidden;

  /* -webkit-text-stroke: var(--strokeText);
  -webkit-text-fill-color: var(--textFill);
  -webkit-text-stroke-width: 1px; */
}

div,
p {
  background: var(--bg);
  /*linear-gradient(90deg, rgba(23, 28, 2, 0.1) 14%, rgba(31, 10, 3, 0.2) 46%, rgb(90, 71, 4) 100%);
  */
  font-size: var(--fontBig20);
  box-shadow: var(--mainDivBorder);
  -webkit-box-shadow: var(--mainDivBorder);

  @media only screen and (max-width: 768px) {
    /* For mobile phones: */
    /* [class*="response-"] { */
    font-size: var(--fontSmall);
    font-weight: bolder;
    /*  } */
  }
}

a {
  color: #ff0;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

button {
  font-family: var(--mainFont), Monospace;
  cursor: pointer;
  text-transform: uppercase;
  border: none;
  color: var(--bg);
  background: var(--text2);
  margin: 1px;
}

.flex-menu {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#info {
  position: fixed;
  display: flex;
  font-size: var(--fontSmall);
  top: 0px;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
  z-index: 1;

  /* TODO Solve this in HTML */
  @media only screen and (max-width: 600px) {
    padding: 2px;
    font-size: 13px;
  }
}

#hud-message {
  width: 100%;
}

#infoMsg {
  position: absolute;
  display: flex;
  font-size: var(--fontSmall);
  top: 50px;
  left: 33%;
  width: 33%;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
  z-index: 1;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;

  /* TODO Solve this in HTML */
  @media only screen and (max-width: 600px) {
    padding: 2px;
    font-size: 10px;
    top:34px;
  }
}

a,
button,
input,
select {
  font-family: var(--mainFont);
  pointer-events: auto;
}

.lil-gui {
  z-index: 2 !important;
}

@media all and (max-width: 640px) {
  .lil-gui.root {
    right: auto;
    top: auto;
    max-height: 50%;
    max-width: 80%;
    bottom: 0;
    left: 0;
  }
}

#overlay {
  position: absolute;
  font-size: var(--fontMid);
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.7);
}

#overlay button {
  background: transparent;
  border: 0;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 4px;
  color: var(--text);
  padding: 12px 18px;
  text-transform: uppercase;
  cursor: pointer;
}

#notSupported {
  width: 50%;
  margin: auto;
  background-color: var(--err);
  margin-top: 20px;
  padding: 10px;
}

#blocker {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: VAR(--bgBlocker);
}

.hud {
  width: 100%;
  height: 93%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
  font-size: large;
  cursor: pointer;
  background-color: var(--bgTransparent1);
}

select {
  font-family: stormfaze;
  color: var(--text2);
  background-color: var(--bgTransparent1);

  @media only screen and (max-width: 600px) {
    font-size: 13px;
  }
}

option {
  font-family: stormfaze;
  color: var(--text2);
  background-color: var(--bg);
}

#videoChatBtn {
  @media only screen and (max-width: 600px) {
    font-size: 13px;
  }
}

#matrix-net {
  z-index: 1;
  position: absolute;
  overflow: hidden;
  display: none;
  right: 0;
  height: 100%;
  width: 60vw;
  font-family: stormfaze;
  background-color: var(--text2);

  @media only screen and (max-width: 600px) {
    width: 100vw;
  }
}

.hudItem {
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: center;
  background: transparent;
  box-shadow: unset;
}

.response {
  width: 100%;
  display: flex;
  margin-left: 10px;
  color: var(--text2);
}

.leftTitle {
  width: 15%;
}

#playerEnergy,
#playerMunition,
#playerKills {
  color: var(--text);
}

#bootomMenu {
  position: fixed;
  display: flex;
  font-size: var(--fontSmall);
  bottom: 0px;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
  z-index: 100;

  /* TODO Solve this in HTML */
  @media only screen and (max-width: 600px) {
    padding: 0px;
  }
}

#playBtn {
  font-size: var(--fontBig);
  font-family: var(--mainFont);
  background: var(--text);
  padding: 7px;
}

.theme-color {}


#msgBox {
  text-shadow: 0px 4px 4px #282828;
  -webkit-user-select: none;
  /* Safari */
  -ms-user-select: none;
  /* IE 10 and IE 11 */
  user-select: none;
  /* Standard syntax */
  background: rgb(2, 0, 36);
  background: radial-gradient(circle, rgba(2, 0, 36, 1) 0%, rgba(9, 81, 121, 0.8463760504201681) 34%, rgba(0, 212, 255, 1) 100%);

  &.error {
    /* background-color: rgb(93, 4, 5); */
    color: rgb(255, 0, 30);
  }

  &.success {
    /* background-color: rgb(220, 14, 14); */
    color: rgb(32, 255, 84);
    text-align: center;
    margin-left: -150px;
  }
}

.msg-box {
  display: none;
  position: absolute;
  top: 30px;
  left: 50%;
  translate: -50%;
  border-radius: 6px !important;
  font-size: 15px !important;
  width: 300px;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  z-index: 1000;

  &.error {
    /* background-color: rgb(93, 4, 5); */
    color: rgb(255, 0, 30);
  }

  &.success {
    /* background-color: rgb(220, 14, 14); */
    color: rgb(32, 255, 84);
    text-align: center;
    margin-left: -150px;
  }
}

#fullScreenBtn {
  width: 48px;
  /* background-image: url(assets/icons/fs.png); */
  background-size: contain;
  background-repeat: no-repeat;
}

.smallIcon{
  width: 100%;
  margin-top: 1px;
}

#myAccountLoginForm {
  position: absolute;
  border-radius: 4px;
  top: 20%;
  left: 35%;
  width: 30%;
  padding: 10px 10px 10px 10px;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;

  @media only screen and (max-width: 600px) {
    position: absolute;
		border-radius: 4px;
    top: 24%;
    width: unset;
    left: 0%;
    padding: 10px;
  }

}