:root {
	--thermeBg: black;
	--thermePrimary: orangered;
	--thermeText: white;
	--thermeTextLabel: orange;
}

.preCode {
	color: #ffbc00;
	background: black;
	border: solid 1px transparent;
}

body::-webkit-scrollbar-thumb {
	background-color: var(--thermePrimary);
	border: solid brown 2px;
	border-radius: 5px;
}

select::-webkit-scrollbar-thumb {
	background-color: var(--thermePrimary);
	border: solid brown 2px;
	border-radius: 5px;
}

option::-webkit-scrollbar-thumb {
	background-color: var(--thermePrimary);
	border: solid brown 1px;
	border-radius: 1px;
}

select::-webkit-scrollbar {
	background-color: black;
}

option::-webkit-scrollbar {
	background-color: black;
	width: 2px;
}

/* Network-Panel animation */
/* Safari 4.0 - 8.0 */
@-webkit-keyframes tofull {
	0% {
		background-color: rgba(141, 95, 95, 0.9);
		width: 50%;
		height: 35px;
	}

	50% {
		background-color: rgba(141, 95, 95, 0.9);
		width: 50%;
		height: auto;
	}

	100% {
		background-color: rgba(13, 46, 65, 0.9);
		width: 100%;
		height: auto;
	}
}

/* Standard syntax */
@keyframes tofull {
	0% {
		background-color: rgba(141, 95, 95, 0.9);
		width: 50%;
		height: 35px;
	}

	50% {
		background-color: rgba(141, 95, 95, 0.9);
		width: 50%;
		height: auto;
	}

	100% {
		background-color: rgba(13, 46, 65, 0.9);
		width: 100%;
		height: auto;
	}
}

@-webkit-keyframes tozero {
	0% {
		background-color: rgba(141, 95, 95, 0.9);
		width: 100%;
		height: auto;
	}

	50% {
		background-color: rgba(141, 95, 95, 0.9);
		width: 50%;
		height: auto;
	}

	100% {
		background-color: rgba(13, 46, 65, 0.9);
		width: 50%;
		height: 35px;
	}
}

/* Standard syntax */
@keyframes tozero {
	0% {
		background-color: rgba(141, 95, 95, 0.9);
		width: 100%;
		height: auto;
	}

	50% {
		background-color: rgba(141, 95, 95, 0.9);
		width: 50%;
		height: auto;
	}

	100% {
		background-color: rgba(13, 46, 65, 0.9);
		width: 50%;
		height: 35px;
	}
}

/* Vertical */
/* Network-Panel animation */
/* Safari 4.0 - 8.0 */
@-webkit-keyframes showPrivateChats {
	0% {
		background-color: rgba(155, 101, 10, 0.95);
		height: 32px;
		width: 150px;
	}

	50% {
		background-color: rgba(155, 101, 10, 0.95);
		height: 32px;
		width: 99%;
	}

	100% {
		background-color: rgba(0, 0, 0, 0.9);
		height: 88%;
	}
}

/* Standard syntax */
@keyframes showPrivateChats {
	0% {
		background-color: rgba(255, 120, 0, 0.95);
		height: 32px;
		width: 150px;
	}

	50% {
		background-color: rgba(255, 120, 0, 0.95);
		height: 32px;
		width: 99%;
	}

	100% {
		background-color: rgba(0, 0, 0, 0.95);
		height: 88%;
	}
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes hidePrivateChats {
	0% {
		background-color: rgba(255, 166, 11, 0.95);
		height: 88%;
	}

	50% {
		background-color: rgba(255, 166, 11, 0.95);
		height: 32px;
		width: 99%;
	}

	100% {
		background-color: rgba(0, 0, 0, 0.95);
		height: 32px;
		width: 150px;
	}
}

/* Standard syntax */
@keyframes hidePrivateChats {
	0% {
		background-color: rgba(255, 120, 0, 0.95);
		height: 88%;
		width: 99%;
	}

	50% {
		background-color: rgba(255, 120, 0, 0.95);
		height: 32px;
		width: 99%;
	}

	100% {
		background-color: rgba(0, 0, 0, 0.95);
		height: 32px;
		width: 150px;
	}
}


/* Vertical SIMPLE */
/* Network-Panel animation */
/* Safari 4.0 - 8.0 */
@-webkit-keyframes showByVetical {
	0% {
		background-color: rgba(155, 101, 10, 0.95);
		height: 75px;
	}

	50% {
		background-color: rgba(238, 65, 13, 0.95);
		height: 50vh;
		opacity: 0.5;
	}

	100% {
		background-color: rgb(200, 54, 9);
		height: 100vh;
		opacity: 1;
	}
}

/* Standard syntax */
@keyframes showByVetical {
	0% {
		background-color: rgba(155, 101, 10, 0.95);
		height: 75px;
	}

	50% {
		background-color: rgba(224, 64, 43, 0.95);
		height: 50vh;
		opacity: 0.5;
	}

	100% {
		background-color: rgb(200, 54, 9);
		height: 100vh;
		opacity: 1;
	}
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes hideByVetical {
	0% {
		background-color: rgba(255, 166, 11, 0.95);
		height: 100vh;
	}

	50% {
		background-color: rgba(255, 166, 11, 0.95);
		height: 50vh;
		opacity: 0.5;
	}

	100% {
		background-color: rgba(0, 0, 0, 0.95);
		height: 35px;
		opacity: 0.2;
	}
}

/* Standard syntax */
@keyframes hideByVetical {
	0% {
		background-color: rgba(255, 166, 11, 0.95);
		height: 100vh;
	}

	50% {
		background-color: rgba(255, 166, 11, 0.95);
		height: 50vh;
		opacity: 0.5;
	}

	100% {
		background-color: rgba(0, 0, 0, 0.95);
		height: 40px;
		opacity: 0.2;
	}
}

.show-by-vertical {
	-webkit-animation-fill-mode: forwards;
	-webkit-animation-name: showByVetical;
	-webkit-animation-duration: 1.2s;
	animation-fill-mode: forwards;
	animation-name: showByVetical;
	animation-duration: 1.2s;
}

.hide-by-vertical {
	-webkit-animation-fill-mode: forwards;
	-webkit-animation-name: hideByVetical;
	-webkit-animation-duration: 1.2s;
	animation-fill-mode: forwards;
	animation-name: hideByVetical;
	animation-duration: 1.2s;
}

.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
	background-color: #000;
	opacity: 1;
}

.btn {
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 7px;
	background: var(--thermePrimary);
	color: var(--thermeText);
}

.myInput:hover {
	border: 1px solid var(--thermeText);
}

.myInput {
	display: inline-block;
	width: -webkit-fill-available;
	width: -moz-available;
	padding: 6px 12px;
	align-self: center;
	margin: 2px 2px 2px 2px;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 0;
	background: var(--thermePrimary);
	color: var(--thermeText);
}

input:-internal-autofill-selected {
	background: var(--thermePrimary);
}

.green {
	background: rgb(55, 233, 64);
}

.red {
	background: rgb(236, 98, 86);
}

.myRed {
	background: rgb(233, 55, 55);
}

.disabledText {
	color: var(--thermeText);
	cursor: no-drop;
}

.disabledText:hover {
	border: solid 1px transparent;
}

.notifycation {
	text-align: center;
}

.myInputBlack {
	display: inline-block;
	width: -webkit-fill-available;
	width: -moz-available;
	padding: 6px 12px;
	margin: 1px 1px 1px 1px;
	font-size: 100%;
	font-weight: 400;
	line-height: 1.42857143;
	text-align: center;
	align-self: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border: 1px solid var(--thermePrimary);
	border-radius: 0;
	background: black;
	color: var(--thermeText);
	overflow: hidden;
	overflow: -moz-hidden-unscrollable;
}

.textsend {
	font-size: 80%;
}

.myInputBlack:hover {
	border: 1px solid var(--thermeTextLabel);
}

.experimentalFunny {
	border: 1px solid var(--thermePrimary);
}

.experimentalFunny:hover {
	border: 1px dotted rgb(255, 0, 0);
}

.chat-box-private {
	display: flex;
	flex-direction: column;
}

.navDiv {
	position: fixed;
	display: flex;
	flex-direction: row;
	z-index: 10;
	background-color: black;
	color: var(--thermeTextLabel);
	border-bottom: solid var(--thermePrimary) 1px;
	/* margin: 1px 1px 1px 1px; */
	padding: 1px 1px 1px 1px;
	width: 101%;
	left: 2px;
	/* text-shadow: 2px 2px 2px #188bf0; */
	/* -webkit-box-shadow: 0 0 5px 4px #1f8bde; */
	/* box-shadow: 0 0 5px 4px #1f8bde; */
}

.form-control {
    /* display: block;
    font-size: 14px;
    line-height: 1.42857143;
    color: var(--thermePrimary);
    background-color: #101010;
    background-image: none;
    border: 1px solid #a52a2a; */
		font-family: stormfaze;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

#welcomeTitle {
	display: flex;
	cursor: pointer;
	padding-top: 3px;
}

#notificationDom {
	overflow-x: hidden;
	overflow: auto;
	height: 86%;
}

#notificationDom::-webkit-scrollbar-thumb {
	background-color: var(--thermePrimary);
	border: solid brown 2px;
	border-radius: 2px;
}

#notificationDom::-webkit-scrollbar {
	background-color: black;
	width: 5px;
}

.appTitle {
	text-align: center;
	font-size: medium;
	width: 240%;
	width: 240%;
	box-shadow: none;
	margin-top: 9px;
	background: inherit;
	color: currentColor;
	overflow: hidden;
}

#calling-box {
	width: -webkit-fill-available;
	width: -moz-available;
}

/* test end */

.navbar {
	position: relative;
	min-height: 50px;
	margin-bottom: 20px;
	border: none;
}

.navbar-header {
	position: fixed;
	width: 100%;
}

.nav-icon {
	padding: 5px 15px 5px 15px;
	float: right;
}

nav a {
	color: #ccc !important;
}

nav i.fa {
	font-size: 40px;
	color: #ccc;
}

nav a:hover {
	color: #a9a9a9 !important;
}

nav i.fa:hover {
	color: #a9a9a9;
}

#main-container {
	width: unset;
	padding-bottom: 80px;
	height: 100%;
}

.vertical-center {
	width: -webkit-fit-content;
	width: fit-content;
	margin: auto;
}

.vertical-center#not-logged form {
	width: -moz-fit-content;
	margin: auto;
}

.vertical-center#not-logged table {
	width: -moz-fit-content;
	margin: auto;
}

.vertical-center table {
	margin-top: 3em !important;
}

.horizontal-center {
	margin: 0 auto;
}

.form-control:focus {
	border-color: #0088aa;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(0, 136, 170, 0.6);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(0, 136, 170, 0.6);
}

input.btn {
	font-weight: bold;
}

.btn {
	font-weight: bold !important;
}

.btn-success {
	width: 100%;
	background-color: var(--thermePrimary) !important;
	border-color: var(--thermePrimary);
	color: var(--thermeText);
}

.btn-success:hover {
	background-color: black !important;
	border-color: var(--thermeText);
	color: var(--thermePrimary);
}

.btn-info {
	background-color: #0088aa !important;
	border-color: #0088aa;
}

label {
	display: inline-block;
	max-width: 100%;
	margin-bottom: 5px;
	margin-top: 15px;
	font-weight: 700;
}

a:hover .demo-logo {
	-webkit-filter: brightness(0.7);
	filter: brightness(0.7);
}

#not-logged {
	padding-top: 40px;
}

#join-dialog h1 {
	color: #3dc6fa;
	font-weight: bold;
	text-align: center;
}

#join-dialog label {
	color: var(--thermeTextLabel);
}

#join-dialog input.btn {
	margin-top: 15px;
}

#join-dialog hr {
	background: #4d4d4d;
}

#session-header {
	display: flex;
	margin-bottom: 20px;
	height: 8%;
	padding: 10px 38px 10px 38px;
}

#session-header form {
	display: inline-block;
}

#session-header input.btn {
	float: right;
	/* margin-top: 20px; */
	margin-left: 5px;
}

#session-title {
	width: -webkit-fill-available;
	display: inline-block;
	color: var(--thermePrimary);
}

#session-header .form-control {
	width: initial;
	float: right;
	margin: 18px 0px 0px 5px;
}

#video-container {
	width: 100%;
	max-height: 42%;
	display: block;
	overflow: hidden;
	padding: 5px 5px 5px 5px;
}

#video-container video.three {
	max-width: 33.33%;
}

#video-container video.four {
	max-width: 25%;
}

#video-container div {
	position: absolute;
	display: inline-flex;
	margin-left: calc(-50% + 15px);
}

#video-container p {
	display: inline-block;
	background: #f8f8f8;
	padding-left: 5px;
	padding-right: 5px;
	color: #777777;
	font-weight: bold;
	border-bottom-right-radius: 4px;
}

#video-container p.userName {
	float: right;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 0px;
	font-weight: lighter;
	font-size: 12px;
	background: #777777;
	color: #f8f8f8;
}

video {
	width: auto;
	height: auto;
	max-height: 100%;
	object-fit: scale-down;
}

#session {
	height: 85vh;
	padding-bottom: 80px;
}

#session img {
	width: 100%;
	height: auto;
	display: inline-block;
	object-fit: contain;
	vertical-align: baseline;
}

#session #video-container img {
	position: relative;
	float: left;
	cursor: pointer;
	object-fit: cover;
	height: 180px;
}

#recording-btns {
	display: none;
	padding-left: 15px;
	padding-top: 20px;
	width: 100%;
	height: 40%;
}

.textarea-container {
	position: relative;
	display: inline-block;
	height: 74%;
	margin-top: 20px;
	resize: none;
}

#textarea-http-container {
	width: 69%;
}

#textarea-events-container {
	width: 29%;
}

.textarea-container button {
	position: absolute;
	top: 1px;
	right: 1px;
	z-index: 1;
}
/* Animations */
.lightSpeedIn {
	-webkit-animation-name: lightSpeedIn;
	animation-name: lightSpeedIn;
	-webkit-animation-timing-function: ease-out;
	animation-timing-function: ease-out;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}

@-webkit-keyframes lightSpeedIn {
	0% {
		-webkit-transform: translate3d(100%, 0, 0) skewX(-30deg);
		transform: translate3d(100%, 0, 0) skewX(-30deg);
		opacity: 0;
	}

	60% {
		-webkit-transform: skewX(20deg);
		transform: skewX(20deg);
		opacity: 1;
	}

	80% {
		-webkit-transform: skewX(-5deg);
		transform: skewX(-5deg);
		opacity: 1;
	}

	100% {
		-webkit-transform: none;
		transform: none;
		opacity: 1;
	}
}

@keyframes lightSpeedIn {
	0% {
		-webkit-transform: translate3d(100%, 0, 0) skewX(-30deg);
		transform: translate3d(100%, 0, 0) skewX(-30deg);
		opacity: 0;
	}

	60% {
		-webkit-transform: skewX(20deg);
		transform: skewX(20deg);
		opacity: 1;
	}

	80% {
		-webkit-transform: skewX(-5deg);
		transform: skewX(-5deg);
		opacity: 1;
	}

	100% {
		-webkit-transform: none;
		transform: none;
		opacity: 1;
	}
}

.bounceIn {
	-webkit-animation-name: bounceIn;
	animation-name: bounceIn;
	-webkit-animation-duration: .75s;
	animation-duration: .75s;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: backwards;
	animation-fill-mode: backwards;
}

@-webkit-keyframes bounceIn {

	0%,
	20%,
	40%,
	60%,
	80%,
	100% {
		-webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
		transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
	}

	0% {
		opacity: 0;
		-webkit-transform: scale3d(.3, .3, .3);
		transform: scale3d(.3, .3, .3);
	}

	20% {
		-webkit-transform: scale3d(1.1, 1.1, 1.1);
		transform: scale3d(1.1, 1.1, 1.1);
	}

	40% {
		-webkit-transform: scale3d(.9, .9, .9);
		transform: scale3d(.9, .9, .9);
	}

	60% {
		opacity: 1;
		-webkit-transform: scale3d(1.03, 1.03, 1.03);
		transform: scale3d(1.03, 1.03, 1.03);
	}

	80% {
		-webkit-transform: scale3d(.97, .97, .97);
		transform: scale3d(.97, .97, .97);
	}

	100% {
		opacity: 1;
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
}

@keyframes bounceIn {

	0%,
	20%,
	40%,
	60%,
	80%,
	100% {
		-webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
		transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
	}

	0% {
		opacity: 0;
		-webkit-transform: scale3d(.3, .3, .3);
		transform: scale3d(.3, .3, .3);
	}

	20% {
		-webkit-transform: scale3d(1.1, 1.1, 1.1);
		transform: scale3d(1.1, 1.1, 1.1);
	}

	40% {
		-webkit-transform: scale3d(.9, .9, .9);
		transform: scale3d(.9, .9, .9);
	}

	60% {
		opacity: 1;
		-webkit-transform: scale3d(1.03, 1.03, 1.03);
		transform: scale3d(1.03, 1.03, 1.03);
	}

	80% {
		-webkit-transform: scale3d(.97, .97, .97);
		transform: scale3d(.97, .97, .97);
	}

	100% {
		opacity: 1;
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
}